// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  border-radius:10px;
  transition:0.5s;
  height: 27rem;
}
.card-img-top {
  img {
    object-fit: cover;
    height: 200px;
  }
    width: 100%;
}

#vehicles-table thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;

}
#vehicles-table tbody {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
}