// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  border-radius:10px;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  transition:0.5s;
  height: 430px;
  &:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
  }
}

.card-img-top {
  img {
    object-fit: cover;
    height: 200px;
    border-radius:7px;
  }
    width: 100%;
}

#vehicles-table thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;

}
#vehicles-table tbody {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
}